.container {
    border: 2px solid rgb(20, 20, 20);
    width: 30%;
    border-radius: 10px;
    padding: 20px;
    margin-top: 5%;
}

#imgUser {
    /*
    border-radius: 50%;
    border: 1px solid rgb(20, 20, 20);
    */
    width: 100px;
}